 <!DOCTYPE html>
<html>
<head>
  <title>Greco-Roman Forum</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
    body {
      background-image: url("https://media.discordapp.net/attachments/1118220842434830385/1126413605311627364/012219-42-History-Rome-Roman-Ancient-Politics-Invective.png?width=1083&height=675");
      background-size: cover; /* Adjust this property as needed */
    }
    /* Add custom CSS for border and text color */
    .card {
      border: 1px solid #333;
      border-radius: 5px;
    }

    h2 {
      color: white;
    }

    h3 {
      color: white;
    }

    p {
      color: black;
    }
  </style>
</head>
<body>
  <header class="jumbotron text-center">
    <h1>Welcome to Lyceum</h1>
    <p>Join the discussion and hone your philosophical mind! Lyceum is a forum designed to be a platform of philosophical debate and contention. We hope for this to be a place of 
      learning and growth, so please be respectful of others and their opinions.
    </p>
  </header>

  <main class="container">
    <section>
      <h2>Featured Topics</h2>
      <div class="row">
        <div class="col-md-6 ">
          <div class="card mb-3">
            <div class="card-body">
              <h3>Topic 1</h3>
              <p>Description of the topic 1.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h3>Topic 2</h3>
              <p>Description of the topic 2.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Recent Posts</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h3>Post Title 1</h3>
              <p>Content of the post 1.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h3>Post Title 2</h3>
              <p>Content of the post 2.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="bg-light text-center py-3">
    <p>&copy;</p>
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>